* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.goop {
    margin: 10px 15px 10px 15px ;
    text-align: center;
}

.title {
    font-size: 26px;
}

.genre {
    color: rgb(155, 155, 155);
    font-size: 15px;
}

.thumbnail {
    display: block;
    margin: 15px auto 15px auto ;
    width: 70%;
    max-width: 512px;
    border: 1px solid red;
}

.desc {
    font-size: 17px;
    text-align: left;
    margin: 10px 15px 10px 15px ;
}

.desc p {
    margin: 10px 0px 10px 0px;
}

.alttitle {
    font-size: 18px;
    margin: 10px 15px 10px 15px ;
    text-align: left;
}

.download {
    font-size: 22px;
    margin: 10px 15px 10px 15px ;
    border-radius: 25px;
}

.download a {
    color : black;
    padding: 15px;
    text-decoration: none;
}

.download a:hover {
    color: blue;
}

.download a:active {
    color: green;
}