* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    font-size: 22px;
    text-align: center;
}

.name {
    color: purple;
    margin: 25px 0px 0px 0px;
}

.subscript {
    margin: 0 0 25px 0;
}

.navbar {
    background-image: linear-gradient(90deg, pink, gray);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 0px 5px 0px;
}

.items {
    color: rgb(255,255,255);
    margin: 5px 0px 5px 0px;
    text-decoration: none;
}

.items:hover {
    color: rgb(200, 200, 200);
    font-size: 24px;
}

.items:active {
    color: rgb(150,150,150);
}