.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: rgba(0, 0, 0, 45%);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}


.list {
    font-size: 18px;
    margin: 10px 15px 10px 30px;
    list-style: none;
}

.list li {
    margin: 5px 0px 5px 20px;
}

.alphabet {
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    margin: 15px 25px 15px 25px ;
    text-align: center;
    list-style-type: none;
}

.alphabet li {
    margin: 5px 10px 5px 10px;
}

.alphabet li a {
    color: black;
    font-size: 22px;
    text-decoration: none;
}

.alphabet li a:hover {
    color: blue;
}

.spacer {
    padding: 10px;
}

.list li::before {
    content: '\1F60F';
    margin-left: -35px;
    margin-right: 5px;
}

.list a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.list a:hover {
    text-decoration: underline;
}

.list a:active {
    color: green;
    text-decoration: none;
}